// env.cpp
#include "env.h"

const char* WIFI_SSID = "ssid";
const char* WIFI_PASSWORD = "password";
const char* WIFI_IP = "ip";
const char* WIFI_GATEWAY = "gateway";
const char* WIFI_SUBNET = "subnet";

const int GREEN_LED_PIN = D6;
const int RED_LED_PIN = D7;

const int LEFT_LED_MATRIX = D0;
const int CENTER_LED_MATRIX = D3;
const int RIGHT_LED_MATRIX = D4;

const unsigned char TEMPERATURE_SENSOR_PIN = D5;
